html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  background: linear-gradient(45deg, rgb(130, 155, 110), rgb(51, 115, 118), rgb(62, 66, 131), rgb(149, 42, 142));
  background-size: 300% 300%;
  animation: background-color 5s ease-in-out infinite;
  display: flex;
  flex-direction: column;
}

@keyframes background-color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.Debug {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 100px;
  height: 30px;
  visibility: hidden;
}