* {
    text-align: center;
}

.HomePage {
    display: flex;
    justify-content: center;
}

.Name {
    font-size: 144px;
    font-weight: 900;
    color: rgb(23, 29, 23);
    text-shadow: -5px 5px 0px rgb(136, 147, 131);
    animation: NameAnimation 1s forwards;
    position: relative;
    opacity: 0;
    margin-top: 50px;
    margin-bottom: 50%;
    /* visibility: hidden; */
}
.NameTitle {
    font-size: 50px;
    position: relative;
    top: -50px
}
@keyframes NameAnimation {
    0% {
        top: 0px
    }
    50% {
        opacity: 0;
    }
    100% {
        top: 10px;
        opacity: 1;
    }
}

.SkillImage {
    width: 70px;
    margin: 10px;
    transition: rotate 0.5s, scale 0.5s;
}

.SkillImage:hover {
    scale: 1.10;
    rotate: 5deg;
}

.Technologies {
    margin-bottom: 50%;
}

.SkillsList {
    
}