.Nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 75px;
    display: flex;
    align-items: stretch;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 0 5px 1px black;
    z-index: 999;
}

.About, .Work, .Contact, .Home {
    text-align: center;
    text-decoration: none;
    color: white;
    flex: 1;
    max-width: 75px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.empty {
    flex: 6
}

.About:hover, .Work:hover, .Contact:hover, .Home:hover {
    background-color: rgba(0, 0, 0, 0.1)
}
.About:active, .Work:active, .Contact:active, .Home:active {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 700px) {
    .About, .Work, .Contact, .Home {
        max-width: 50px;
        font-size: 16px;
    }
}
