.Nav {
    background-color: rgb(72, 88, 71);
    height: 75px;
    display: flex;
    align-items: center;
}

.Home {
    flex: 7;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.About {
    flex: 1;
}

.Work {
    flex: 1
}

.Contact {
    flex: 1
}

.About, .Work, .Contact {
    text-align: center;
    text-decoration: none;
    color: white;
}