.ModalContainer {
    z-index: 998;
    position: fixed;
    top: calc(50% - 35vh);
    left: calc(50% - 40vw);
    height: 0px;
    width: 0px;
    background-color: rgba(240, 248, 255, 0.885);
    border: 10px double #050c0e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    contain: content;
    visibility: hidden;
}

#showModal {
    animation: ShowModalAnimation 0.5s forwards;
}
#closeModal {
    animation: CloseModalAnimation 0.5s forwards;
}


@keyframes ShowModalAnimation {
    0% {
        width: 0px;
        height: 0px;
        visibility: visible;
    }

    100% {
        width: 80vw;
        height: 70vh;
        visibility: visible;
    }
}

@keyframes CloseModalAnimation {
    0% {
        /* visibility: visible; */
        width: 80vw;
        height: 70vh;
    }
    95% {
        visibility: hidden;
    }
    100% {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

}

.ProjectName {
    margin: 0 auto;
}

#closeButton {
    position: fixed;
    right: 5px;
    top: 5px;
    transition: rotate 0.3s, scale 0.15s;
    cursor: pointer;
}

#closeButton:hover {
    rotate: 180deg;
    scale: 1.05
}

#closeButton:active {
    top: 8px
}

.ProjectImgPreview {
    width: 20vw;
}

.ProjectImgSlider {
    background-color: grey;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 95%;
    margin: 0 auto;
    padding: 2.5%;
    background-color: rgba(211, 211, 211, 0.634);
    border-bottom: 5px solid black ;
    border-top: 5px solid black ;
}

.ImgPrevContainer {
    flex: 0 0 auto;
    width: 500px;
    height: 100%;
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:contain;
    margin: auto 10px;
    background-color: rgba(4, 4, 4, 0.634);
    border: 2px solid black;
}

