.HideElement {
    display: none;
}

.ModalContainer {
    z-index: 998;
    position: fixed;
    top: calc(50% - 40vh);
    left: calc(50% - 45vw);
    height: 0px;
    width: 0px;
    background-color: rgba(240, 248, 255, 0.885);
    border: 10px double #050c0e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    contain: content;
    visibility: hidden;
    box-shadow: -10px 10px 1px 1px;
}

#showModal {
    animation: ShowModalAnimation 0.5s forwards;
}
#closeModal {
    animation: CloseModalAnimation 0.5s forwards;
}


@keyframes ShowModalAnimation {
    0% {
        width: 0px;
        height: 0px;
        visibility: visible;
    }

    100% {
        width: 90vw;
        height: 80vh;
        visibility: visible;
    }
}

@keyframes CloseModalAnimation {
    0% {
        /* visibility: visible; */
        width: 80vw;
        height: 70vh;
    }
    95% {
        visibility: hidden;
    }
    100% {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

}

.ProjectName {
    margin: 0 auto;
    height: 20%;
    font-size: 5vw;
    display: flex;
    align-items: center;
}

#closeButton {
    position: fixed;
    right: 5px;
    top: 5px;
    transition: rotate 0.3s, scale 0.15s;
    cursor: pointer;
}

#closeButton:hover {
    rotate: 180deg;
    scale: 1.05
}

#closeButton:active {
    top: 8px
}

.ProjectImgPreview {
    width: 20vw;
}

.ProjectImgSlider {
    background-color: grey;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 95%;
    margin: 0 auto;
    padding: 2.5%;
    background-color: rgba(211, 211, 211, 0.634);
    border-bottom: 5px solid black ;
    border-top: 5px solid black ;
    scroll-snap-type: x mandatory;
}

.ImgPrevContainer {
    flex: 0 0 auto;
    width: 500px;
    height: 100%;
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:contain;
    margin: auto 10px;
    background-color: rgba(4, 4, 4, 0.634);
    border: 2px solid black;
    scroll-snap-align: center;
}

.ProjectInfo {
    display: flex;
    flex-direction: column;
    height: 40%;
}

.ProjectInfos {
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow: scroll;
    font-weight: 400;
}

.ProjectInfos:nth-child(1) {
    flex: 1;
    text-align: start;
    padding-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.ProjectInfos:nth-child(2), .ProjectInfos:nth-child(3), .ProjectInfos:nth-child(4){
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.DescriptionText {
    font-size: 20px;    
}

#Link {
    background-color: rgba(156, 248, 153, 0.63);
    border: 3px solid black;
    margin: 10px auto;
    width: 50%;
    border-radius: 20px;
    text-decoration: none;
    color: blue;
    box-shadow: 0 0 5px 0.5px black;
}

#Link:hover {
    background-color: rgba(200, 247, 198, 0.63);
    scale: 1.02;
}
#Link:active {
    color: red;
    position: relative;
    top: 5px
}


@media screen and (max-width: 850px) {
    .ProjectInfos:nth-child(2), .ProjectInfos:nth-child(3), .ProjectInfos:nth-child(4){
        font-size: 20px;
    }
    .DescriptionText {
        font-size: 16px;
    }
    .ProjectInfos:nth-child(1) {
        font-size: 22px;
    }

}

@media screen  and (max-width: 1200px) {
    .ProjectName {
        font-size: 10vw;
    }
}